<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="irisapplicationmanager.ZPM">
    <Module>
      <Name>irisapplicationmanager</Name>
      <Version>0.1.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.packagename.PKG"/>
    </Module>
  </Document>
</Export>